@model SysCota.Models.Cotacao

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Cotacao</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NumeroDaCotacao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumeroDaCotacao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataCotacao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataCotacao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataEntregaCotacao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataEntregaCotacao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
